* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     user-select: none;
}

body {
     font-family: 'oxygen',  sans-serif;
}

#board {
     /* height: min(400px, 100vh); */
     width: min(400px, 100vw);
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     background-color: #000;
     gap: 1px;
     /* border: px solid #000; */
     color: #fff;
     position: relative;
}

.cell,
.subcell {
     /* border: 1px solid #000; */
     /* these two lines fixed the inconsistent heights and widths */
     box-sizing: border-box;
     aspect-ratio: 1;
}

.cell {
     border-collapse: collapse;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: .5px;
     position: relative;
     /* vhgfhgfhgfhgfhgfhkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk */
     /* background-color: #1b7c83; */
}

.subcell {
     display: flex;
     justify-content: center;
     align-items: center;
     line-height: 0;
     /* this line fixed the weird overflow */
     font-size: 3em;
     background-color: #fff;
     color: #000;
     /* border-radius: 3px; */
}
.concluded {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 5em;
     font-weight: bold;
     color: #fff;
}

.won {
     height: 100%;
     width: 100%;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 5em;
     font-weight: bold;
     border: 1px solid #a53b3b;
     color: #fff;
}
#win-status {
     color: gold;
     padding: 5px;
}

.inactive {
     pointer-events: none;
     /* background-color: #ccc; */
}

.inactive .subcell {
     background-color: #ccc;
}
h1, h2, h3 {
     text-align: center;
     padding: 5px;
}